<h1>Welcome to The Train Scheduler</h1>

<div class ="container">
  <a href="/trains">View All Train Schedules</a>
  <a href="/cities">View All Cities</a>
  <a href="/trains/new">Add New Schedule</a>
  <a href="/cities/new">Add New City</a>

</div>
