


<p>Add a train route to the database</p>

<form action='/trains' method='post'>
  <label for='name'>Train route name:</label>
  <input id='name' name='name' type='text'>

  <button type='submit'>Add Train</button>
</form>
